@Master['master']

@Section['Content']
<h3>System Monitor</h3>

<div id="cpu-load">
    <div class="span2">
        CPU Load <span>50%</span>
    </div>
    <div class="span6">
        <div class="progress">
            <div class="bar" style="width: 50%;"></div>
        </div>
    </div>
</div>


<div id="memory-load">
    <div class="span2">
        Memory Load <span>50%</span>
    </div>
    <div class="span6">
        <div class="progress">
            <div class="bar" style="width: 50%;"></div>
        </div>
    </div>
</div>
@EndSection

@Section['Scripts']
<script type="text/javascript">
    $(function () {
        app.startMonitoring();
    });
</script>
@EndSection
